<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>bg_image</key>
		<string>space_bg.png</string>
		<key>monsters</key>
		<array>
			<dict>
				<key>x</key>
				<string>380</string>
				<key>colorizeSequence</key>
				<string>1.0</string>
				<key>y</key>
				<string>250</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>1</string>
                <key>health</key>
                <string>1</string>
			</dict>
			<dict>
				<key>x</key>
				<string>380</string>
				<key>colorizeSequence</key>
				<string>2.0</string>
				<key>y</key>
				<string>120</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>2</string>
                <key>health</key>
                <string>1</string>
			</dict>
		</array>
		<key>hero</key>
		<dict>
			<key>health</key>
			<string>10</string>
			<key>x</key>
			<string>80</string>
			<key>y</key>
			<string>170</string>
			<key>image</key>
			<string>heroInSpace.png</string>
		</dict>
		<key>items</key>
		<array>
			<dict>
				<key>image</key>
				<string>planet.png</string>
				<key>x</key>
				<string>400</string>
				<key>y</key>
				<string>170</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>image</key>
				<string>banana.png</string>
				<key>x</key>
				<string>500</string>
				<key>y</key>
				<string>170</string>
				<key>type</key>
				<string>10</string>
			</dict>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>bg_image</key>
		<string>space_bg.png</string>
		<key>monsters</key>
		<array>
			<dict>
				<key>x</key>
				<string>350</string>
				<key>colorizeSequence</key>
				<string>1.0</string>
				<key>y</key>
				<string>250</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>1</string>
                <key>health</key>
                <string>1</string>
			</dict>
			<dict>
				<key>x</key>
				<string>350</string>
				<key>colorizeSequence</key>
				<string>1.0</string>
				<key>y</key>
				<string>120</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>3</string>
                <key>health</key>
                <string>1</string>
			</dict>
		</array>
		<key>hero</key>
		<dict>
			<key>health</key>
			<string>10</string>
			<key>x</key>
			<string>80</string>
			<key>y</key>
			<string>170</string>
			<key>image</key>
			<string>heroInSpace.png</string>
		</dict>
		<key>items</key>
		<array>
			<dict>
				<key>image</key>
				<string>planet.png</string>
				<key>x</key>
				<string>400</string>
				<key>y</key>
				<string>170</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>image</key>
				<string>asteroid.png</string>
				<key>x</key>
				<string>200</string>
				<key>y</key>
				<string>270</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>image</key>
				<string>asteroid.png</string>
				<key>x</key>
				<string>200</string>
				<key>y</key>
				<string>70</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>image</key>
				<string>banana.png</string>
				<key>x</key>
				<string>500</string>
				<key>y</key>
				<string>170</string>
				<key>type</key>
				<string>10</string>
			</dict>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>bg_image</key>
		<string>dungeon_bg.png</string>
		<key>hero</key>
		<dict>
			<key>health</key>
			<string>10</string>
			<key>x</key>
			<string>80</string>
			<key>y</key>
			<string>170</string>
			<key>image</key>
			<string>heroInSpace.png</string>
		</dict>
		<key>items</key>
		<array>
			<dict>
				<key>image</key>
				<string>brownBlock.png</string>
				<key>x</key>
				<string>350</string>
				<key>y</key>
				<string>270</string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>image</key>
				<string>brownBlock.png</string>
				<key>x</key>
				<string>350</string>
				<key>y</key>
				<string>60</string>
				<key>type</key>
				<string>0</string>
			</dict>
		</array>
		<key>monsters</key>
		<array>
			<dict>
				<key>x</key>
				<string>250</string>
				<key>colorizeSequence</key>
				<string>1.0</string>
				<key>y</key>
				<string>250</string>
				<key>image</key>
				<string>monster2.png</string>
				<key>movePattern</key>
				<string>2</string>
                <key>health</key>
                <string>1</string>
			</dict>
			<dict>
				<key>x</key>
				<string>250</string>
				<key>colorizeSequence</key>
				<string>1.0</string>
				<key>y</key>
				<string>120</string>
				<key>image</key>
				<string>monster2.png</string>
				<key>movePattern</key>
				<string>3</string>
                <key>health</key>
                <string>1</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
