<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>bg_image</key>
		<string>space_bg.png</string>
		<key>monsters</key>
		<array>
			<dict>
				<key>x</key>
				<string>100</string>
				<key>colorizeSequence</key>
				<string>1.0</string>
				<key>y</key>
				<string>150</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>1</string>
			</dict>
			<dict>
				<key>x</key>
				<string>150</string>
				<key>colorizeSequence</key>
				<string>2.0</string>
				<key>y</key>
				<string>300</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>2</string>
			</dict>
			<dict>
				<key>x</key>
				<string>150</string>
				<key>colorizeSequence</key>
				<string>3.0</string>
				<key>y</key>
				<string>300</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>3</string>
			</dict>
		</array>
		<key>hero</key>
		<dict>
			<key>health</key>
			<string>10</string>
			<key>x</key>
			<string>40</string>
			<key>y</key>
			<string>40</string>
			<key>image</key>
			<string>heroInSpace.png</string>
		</dict>
		<key>items</key>
		<array>
			<dict>
				<key>image</key>
				<string>banana.png</string>
				<key>x</key>
				<string>10</string>
				<key>y</key>
				<string>40</string>
				<key>type</key>
				<string>10</string>
			</dict>
			<dict>
				<key>image</key>
				<string>banana.png</string>
				<key>x</key>
				<string>10</string>
				<key>y</key>
				<string>40</string>
				<key>type</key>
				<string>10</string>
			</dict>
			<dict>
				<key>image</key>
				<string>banana.png</string>
				<key>x</key>
				<string>10</string>
				<key>y</key>
				<string>40</string>
				<key>type</key>
				<string>10</string>
			</dict>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>bg_image</key>
		<string>dungeon_bg.png</string>
		<key>monsters</key>
		<array>
			<dict>
				<key>x</key>
				<string>100</string>
				<key>colorizeSequence</key>
				<string>1.0</string>
				<key>y</key>
				<string>150</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>1</string>
			</dict>
			<dict>
				<key>x</key>
				<string>150</string>
				<key>colorizeSequence</key>
				<string>2.0</string>
				<key>y</key>
				<string>300</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>2</string>
			</dict>
			<dict>
				<key>x</key>
				<string>150</string>
				<key>colorizeSequence</key>
				<string>3.0</string>
				<key>y</key>
				<string>300</string>
				<key>image</key>
				<string>monsterInSpace.png</string>
				<key>movePattern</key>
				<string>3</string>
			</dict>
		</array>
		<key>hero</key>
		<dict>
			<key>health</key>
			<string>10</string>
			<key>x</key>
			<string>40</string>
			<key>y</key>
			<string>40</string>
			<key>image</key>
			<string>heroInSpace.png</string>
		</dict>
		<key>items</key>
		<array>
			<dict>
				<key>image</key>
				<string>planet.png</string>
				<key>x</key>
				<string>10</string>
				<key>y</key>
				<string>40</string>
				<key>type</key>
				<string>10</string>
			</dict>
			<dict>
				<key>image</key>
				<string>planet.png</string>
				<key>x</key>
				<string>10</string>
				<key>y</key>
				<string>40</string>
				<key>type</key>
				<string>10</string>
			</dict>
			<dict>
				<key>image</key>
				<string>planet.png</string>
				<key>x</key>
				<string>10</string>
				<key>y</key>
				<string>40</string>
				<key>type</key>
				<string>10</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
